.App {
  text-align: center;
}

.language-list{
  padding:0;
}

.language-list li{
  display:inline-block;
  margin-right: 10px;

}

.github-logo{
  display: inline-block;
    width:100px; 
    height: 100px; 
    margin-right: 5px; 
}